.dropdown .dropdown-menu{
  display: block;
  opacity: 0;

  -moz-transition:    all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  -o-transition:      all 1000ms ease;
  -ms-transition:     all 1000ms ease;
  transition:         all 1000ms ease;
}
.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}