body {
    background-color: #EEEEEE;
}
.bg-primary {
  background-color: $brand-primary;
  * {
    color: white;
  }
}

.bg-info {
  background-color: $brand-info;
  * {
    color: white;
  }
}



.bg-warning {
  background-color: $brand-warning;
  * {
    color: white;
  }
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}