// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$brand-primary:         #3399cc !default;
$brand-info:            #5badd6 !default;
$brand-warning:         #ff9900 !default;
$brand-danger:          #d9534f !default;


$font-family-sans-serif:  "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif !default;